/*body { 
  background: url(https://branding.temple.edu/sites/branding/files/images/blocks/Red_DiamondPattern.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
* {
    box-sizing:border-box;
}
.card-header{
    background-color: #9D1A33;
    text-align: center;
    height: 45px;
    color: white;
}
footer p, footer a {
    color: white;
}
.login{
    margin:auto;
    max-width:450px;
}
.logo{
    margin:auto;
    max-width:450px;
}
.logo img{
    width: 100%;
    max-width: 450px;
}

html, body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.push{
    height:150px;
}
.content {
    flex: 0 auto;
}
footer{
    height:130px;
   flex-shrink: 0;
}
.dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: firebrick;
}
.ion-help-circled {
    font-size: 25px;
}
.card-body .navbar-nav a{
    display:block;
    color: #777;
    font-weight: 600;
}
.card-body .navbar-nav a:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color:firebrick;
}
